# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# PyInstaller
build/
dist/
*.spec.bak

# Virtual environments
.venv/
venv/
env/

# Thumbnail cache database
*.db

# OS
.DS_Store
Thumbs.db
desktop.ini
